/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*------------------------------------------------------ */

#button {
   display: inline-block;
   background-color: #FF9800;
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 4px;
   position: fixed;
   bottom: 30px;
   right: 30px;
   transition: background-color .3s,
      opacity .5s, visibility .5s;
   opacity: 0;
   visibility: hidden;
   z-index: 1000;
}

#button::after {
   content: '\f077';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   font-size: 2em;
   line-height: 50px;
   color: #fff;
}

#button:hover {
   cursor: pointer;
   background-color: #333;
}

#button:active {
   background-color: #555;
}

#button.show {
   opacity: 1;
   visibility: visible;
}

body {
   font-family: 'Roboto'sans-serif;
   font-family: 'PT Serif'serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 138%;
   color: #1F1E1E;
}

a {
   color: inherit;
}

.title {
   text-align: center;
   font-weight: 500;
   font-size: 36px;
   line-height: 130%;
}

.container {
   max-width: 1140px;
   padding: 0 10px;
   margin: 0 auto;
}

.header {
   background-image: url(../img/header-bg.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header__inner {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header__top {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 16px 0 49px;
   align-items: center;
   color: #FFFFFF;
}

.logo {}

.logo__img {}

.header__phone {
   font-weight: bold;
   font-size: 16px;
   line-height: 130%;
}

.header__phone-number {
   background: #886239;
   border-radius: 22px;
   padding: 12px 30px;
   font-weight: 400;
   margin-left: 19px;
}

.menu {
   width: 100%;
   border-top: 1px solid #FFFFFF;
   border-bottom: 1px solid #FFFFFF;
   margin-top: 15px;
   padding: 27px 0 24px;
}

.menu__list {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-size: 16px;
}

.menu__item {}

.menu__link {}

.menu__link:hover {
   border-bottom: 1px solid #fff;
}

.header__title {
   font-family: 'PT Serif'serif;
   font-weight: 700;
   font-size: 90px;
   line-height: 130%;
   text-align: center;
   margin-bottom: auto;
}

.header__content {}

.header__descr {
   max-width: 420px;
   font-weight: bold;
   font-size: 20px;
   line-height: 140%;
   margin-bottom: 20px;
}

.header__btn {
   display: inline-block;
   background: #886239;
   border-radius: 30px;
   padding: 19px 55px 20px;
   font-size: 18px;
   color: #fff;
   margin-bottom: 20px;
}

.header__arrow {
   text-align: center;
   margin-bottom: 15px;
}

.header__arrow-link {}

.header__arrow-img {}

/* --------------------------------------------------------------------------- */
.direction {
   padding: 100px 0 100px;
}

.direction__inner {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 32px;
}

.direction__item {}

.direction__img {
   display: block;
}

.direction__text {
   font-size: 16px;
   line-height: 118%;
   border: 1px solid #D9D9DE;
   border-top: none;
   padding: 12px 19px 19px;
}

/* ---------------------------------------------------------------------------- */
.travel-info {
   background-image: url(../img/travel-info-bg.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 30px 0 50px;
}

.travel-info__title {
   color: #FFFFFF;
   margin-bottom: 50px;
}

.travel-info__items {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 54px 67px;
}

.travel-info__item {}

.travel-info__img {
   margin-bottom: 15px;
}

.travel-info__text {
   font-weight: normal;
   font-size: 16px;
   line-height: 130%;
   color: #fff;
}

/* ------------------------------------------------------------------ */
.popular {
   padding: 100px 0;
}

.popular__title {
   margin-bottom: 40px;
}

.title {}

.popular__items {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 32px;
   padding-bottom: 80px;
   border-bottom: 1px solid #D9D9DE;
}

.popular__link {
   padding: 16px 24px 19px;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 256px;
   line-height: 130%;
}

.popular__link:nth-child(3),
.popular__link:nth-child(6) {
   grid-column: span 2;
   grid-row: span 2;
}

.popular__link-title {
   font-weight: 500;
   margin-bottom: 15px;
}

.popular__link-title--bg {
   font-size: 24px;
}

.popular__price {
   font-weight: bold;
   font-size: 16px;
   margin-top: auto;
}

.popular__country,
.popular__time {
   margin-bottom: 15px;
}

/* ---------------------------------------------------------------------------- */
.map {
   padding-bottom: 100px;
}

.map__title {
   margin-bottom: 46px;
}

.title {}

.map__iframe {}

/* ------------------------------------------------------------------------------ */
.about {
   padding-bottom: 100px;
}

.about__inner {
   display: flex;
}

.about__content {
   flex: 0 1 448px;
   /* min-width: 448px;  */
}

.about__title {
   text-align-last: left;
   margin-bottom: 25px;
}

.title {}

.about__text {
   font-weight: normal;
   font-size: 18px;
   line-height: 140%;
   margin-bottom: 34px;
}

.about__link {
   font-size: 16px;
   line-height: 118%;
   text-decoration-line: underline;
   color: #C4C4C4;
}

.about__popup {
   background-image: url(../img/video-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   /* min-width: 640px;  */
   flex: 0 1 640px;
   margin-left: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popup__link {}

.popup__link-img {}

/* ---------------------------------------------------------------- */
.gallery {
   padding: 50px 0 105px;
   background: #886239;
   color: #fff;
}

.gallery__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 40px;
   padding-right: 160px;
}

.gallery__title {}

.title {}

.gallery__link {
   font-size: 16px;
   line-height: 118%;
   text-decoration: underline;
}

.gallery__slider {}

.gallery__item {}

.gallery__item-inner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 32px;
}

.gallery__item-link {}

.gallery__item-img {}

.slider__arrow {
   cursor: pointer;
   position: absolute;
   top: -85px;
   right: 0;
   /* border: none;
   background-color: transparent; */
}

.slider__arrow-left {
   right: 60px;
}

.slider__arrow-right {}

/* -------------------------------------------------------------------------------- */
.tour {
   padding: 100px 0;
}

.tour__title {
   margin-bottom: 77px;
}

.title {}

.tour__box {
   column-count: 2;
   column-gap: 46px;
   border-bottom: 1px solid #D9D9DE;
   padding-bottom: 50px;
   margin-bottom: 44px;
}

.tour__text {
   font-size: 18px;
   line-height: 140%;
   margin-bottom: 15px;
}

.tour__text span {
   font-weight: bold;
}

.tour__info {
   display: flex;
}

.tour__info-item {
   font-family: 'PT Serif'serif;
   font-weight: bold;
   font-size: 58px;
   line-height: 130%;
   padding-left: 70px;
   color: #886239;
   text-align: center;
}

.tour__info-text {
   font-family: 'Roboto'sans-serif;
   font-weight: 500;
   font-size: 20px;
   line-height: 130%;
   color: #1F1E1E;
}

/* --------------------------------------------------------------------- */
.booking {
   padding: 75px 0;
   background-color: #EAEAEA;
}

.booking__title {
   margin-bottom: 43px;
}

.title {}

.booking__form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   max-width: 830px;
   margin: 0 auto;
}

.booking__input {
   width: 256px;
   height: 44px;
   border: 1px solid #D9D9DE;
   padding: 11px 14px 12px;
   margin-bottom: 28px;
   font-size: 16px;
}

.booking__input::placeholder,
.booking__area::placeholder {
   font-family: 'Roboto'sans-serif;
   font-size: 16px;
   line-height: 130%;
   color: #C4C4C4;
}

.booking__area {
   width: 100%;
   padding: 14px;
   height: 112px;
   border: 1px solid #D9D9DE;
   resize: none;
   margin-bottom: 67px;
}

.booking__btn {
   background: #886239;
   border-radius: 30px;
   font-size: 18px;
   line-height: 116%;
   color: #fff;
   padding: 20px 65px;
}

.booking__label {
   font-size: 16px;
   line-height: 130%;
   text-decoration-line: underline;
   display: flex;
   align-items: center;
}

.booking__checkbox {
   position: absolute;
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
}

.booking__checkbox-style {
   width: 26px;
   height: 26px;
   border: 2px solid #C4C4C4;
   border-radius: 2px;
   position: absolute;
   margin-left: -45px;
}

.booking__checkbox:checked+.booking__checkbox-style::before {
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   background-color: #1F1E1E;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------------------- */
.footer {
   padding: 77px 0 80px;
   background: #1F1E1E;
}

.footer__logo {
   text-align: center;
   margin-bottom: 70px;
}

.logo {}

.logo__img {}

.footer__box {
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   line-height: 130%;
   /* color:#fff; */
   color: rgba(255, 255, 255, .8);
   max-width: 830px;
   margin: 0 auto;
}

.footer__info {
   flex: 0 1 226px
}

.footer__box-title {
   font-weight: 500;
   margin-bottom: 7px;
   color: #fff;
}

.footer__copy {
   margin-bottom: 3px;
   opacity: 0.8;
}

.footer__link {
   text-decoration-line: underline;
}

.footer__adress {
   flex: 0 1 164px
}

.footer__adress-text {
   opacity: 0.8;
}

.footer__contacts {
   flex: 0 1 209px
}

.footer__phone {
   opacity: 0.8;
}

.footer__mail {
   opacity: 0.8;
   display: block;
}

.menu-btn {
   display: none;
}

/* --------------------------------------------------------------------------- */
@media (max-width: 1140px) {
   .direction__inner {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
   }

   .direction__img {
      width: 100%;
   }

   .gallery__item-inner {
      grid-template-columns: repeat(2, 1fr);
   }

   .gallery__item-img {
      width: 100%;
   }

   .tour__info {
      flex-wrap: wrap;
   }

   .tour__info-item {
      padding: 20px;
      margin: 0 auto;
   }
}

@media (max-width: 990px) {
   .popular__link {
      min-height: 200px;
   }

   .popular__items {
      grid-gap: 10px;
   }
}

@media (max-width: 800px) {
   .header__phone span {
      display: none;
   }

   .header__descr {
      color: #fff;
   }

   .travel-info__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
   }

   .popular__link:nth-child(3),
   .popular__link:nth-child(6) {
      grid-column: auto;
      grid-row: auto;
   }

   .popular__items {
      grid-template-columns: repeat(2, 1fr);
   }

   .popular__link {
      min-height: 320px;
   }

   .popular {
      padding: 50px 0;
   }

   .map {
      padding-bottom: 50px;
   }

   .map__iframe {
      height: 400px;
   }

   .about__inner {
      display: block;
   }

   .about__content {
      flex: 0 1 448px;
      margin-bottom: 10px;
   }

   .about__popup {
      min-height: 400px;
      margin-left: 0;
   }

   .about {
      padding-bottom: 50px;
   }

   .gallery {
      padding-bottom: 50px;
   }

   .tour {
      padding: 50px 0;
   }

   .tour__box {
      column-count: 1;
   }

   .tour__title {
      margin-bottom: 40px;
   }

   .booking {
      padding: 50px 0;
   }

   .booking__input {
      width: 100%;
   }

   .booking__label {
      width: 100%;
      margin-top: -192px;
      margin-left: 50px;
   }

   .booking__btn {
      margin: 0 auto;
   }

   .footer {
      padding: 50px 0;
   }

   .footer__logo {
      margin-bottom: 40px;
   }

   .footer__box {
      display: block;
      text-align: center;
   }

   .footer__info,
   .footer__contacts,
   .footer__adress {
      margin: 0 auto 25px;
   }
}

@media (max-width: 560px) {
   body.lock {
      overflow: hidden;
   }

   .logo {
      z-index: 2;
   }

   .menu-btn {
      display: block;
      position: absolute;
      /* position: relative; */
      width: 30px;
      height: 20px;
      z-index: 3;
      background: transparent;
      right: 10px;
      top: 107px;
   }

   .menu-btn span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all .3s ease 0s;
   }

   .menu-btn::before,
   .menu-btn::after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all .3s ease 0s;
   }

   .menu-btn::before {
      top: 0;
   }

   .menu-btn::after {
      bottom: 0;
   }

   .menu-btn.active::before {
      transform: rotate(45deg);
      top: 9px;
   }

   .menu-btn.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .menu-btn.active span {
      transform: scale(0);
   }

   .menu__list {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #010203;
      padding: 70px 0px 0px 10px;
      display: block;
      transition: all .3s ease 0s;
      overflow: auto;
   }

   .menu__list.active {
      top: 0;
   }

   .menu__item {
      padding: 15px 0;
   }

   .menu__link {
      display: inline-block;
   }



   .header__title {
      font-size: 50px;
   }

   .logo {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
   }

   .header__phone-number {
      margin-left: 0;
   }

   .menu {
      border: none;
   }

   .direction__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
   }

   .direction {
      padding: 50px 0;
   }

   .travel-info {
      padding: 20px 0 40px;
   }

   .travel-info__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
   }

   .title {
      font-size: 28px;
   }

   .popular__items {
      grid-template-columns: repeat(1, 1fr);
   }

   .gallery__item-inner {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 460px) {
   .direction__inner {
      grid-template-columns: repeat(1, 1fr);
   }

   .travel-info__items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   .about__popup {
      min-height: 280px;
   }

   .gallery__top {
      display: block;
   }

   .gallery__title {
      text-align-last: left;
   }
}